<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>
     <h2>This is home page for the
       <%= link_to "Text home page", '#' %>
       sample application
    </h2>
    <%= link_to "Sing up now", signup_path , class: "btn btn-large btn-primary" %>
</div>
<%= image_tag('/Ruby_on_Rails_logo.jpg', size: "60x70", alt: "Rails") %>
